body {
	font-family: 'Courier New', Courier, monospace;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}
.main {
	align-items: center;
	max-width: 420px;
	width: 100%;
	padding: 12px;
	border-radius: 4px;
	background-color: #DEDEDE;
}
.display {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.equation {
	padding: 10px;
	width: calc(100% - 20px);
	font-size : 24px;
	text-align: right;
	border: 0px;
	border-radius: 8px 8px 0 0;
	background-color: rgb(94, 207, 226);
}
.equation:focus, .equation:active {
	outline: none;
}
.result {
	padding: 2px 10px;
	width: calc(100% - 20px);
	font-size : 16px;
	color: #555555;
	text-align: right;
	border: 0px;
	background-color: rgb(94, 207, 226);
}
.button-group {
	display: grid;
	padding-top: 12px;
	grid-template-columns: 24% 24% 24% 24%;
	gap: calc(4%/3);
	cursor: default;
	user-select: none;
}
.button {
	padding: 20px 0;
	text-align: center;
	font-size: 36px;
	color: white;
	background-color: #333333;
}