body {
	font-family: 'Courier New', Courier, monospace;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}
.main {
	align-items: center;
	max-width: 420px;
	width: 100%;
	border-radius: 4px;
	background-color: #DEDEDE;
}
.display {
	padding: 12px;
}
.equation {
	padding: 10px 0;
	width: 100%;
	font-size : 24px;
	text-align: right;
	border: 0px;
	background-color: #DEDEDE;
}
.equation:focus, .equation:active {
	outline: none;
}
.result {
	padding: 0;
	width: 100%;
	font-size : 16px;
	color: #555555;
	text-align: right;
	border: 0px;
	background-color: #DEDEDE;
}
.button-group {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 4px;
}
.button {
	padding: 20px 0;
	text-align: center;
	font-size: 36px;
}